<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      	
		<!--
		  ==========================================
		    Rapid Fire SubSystem Configuration
		  ==========================================
		-->
  <extension
     point="com.ibm.etools.systems.core.subsystemfactory">
     <configuration
        systemtypes="iSeries"
        name="%Rapid_Fire"
        iconlive="icons/rapidfire_connected.gif"
        icon="icons/rapidfire.gif"
        category="rapidfire"
        class="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
        vendor="Rapid Fire Project Team"
        id="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory">
      </configuration>
      
   </extension>
   
      	<!--
      	  ==========================================
      	    Rapid Fire 'Job' Object Contributions
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
            typecategoryfilter="rapid fire"
            typefilter="job"
            subtypefilter="*"
            namefilter="*"
            id="biz.rapidfire.rse.job.actions">
            
            <separator name="maintenance"/>
            <separator name="status"/>
            <separator name="run"/>
            <separator name="reset"/>
         
         <action
               label="%command_Display_Job"
               tooltip="%command_Display_Job_Description"
               icon="icons/display.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.DisplayJobAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.DisplayJobAction"
               menubarPath="maintenance">
         </action>
            
         <action
               label="%command_Delete_Job"
               tooltip="%command_Delete_Job_Description"
               icon="icons/delete.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.DeleteJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.DeleteJobAction"
               menubarPath="maintenance">
         </action>
            
         <action
               label="%command_Copy_Job"
               tooltip="%command_Copy_Job_Description"
               icon="icons/copy.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.CopyJobAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.CopyJobAction"
               menubarPath="maintenance">
         </action>
            
         <action
               label="%command_Change_Job"
               tooltip="%command_Change_Job_Description"
               icon="icons/change.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.ChangeJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.ChangeJobAction"
               menubarPath="maintenance">
         </action>
            
         <action
               label="%command_New_Job"
               tooltip="%command_New_Job_Description"
               icon="icons/new_job.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.NewJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.NewJobAction"
               menubarPath="maintenance">
         </action>
            
         <action
               label="%command_Display_copy_status"
               tooltip="%command_Display_copy_status_Description"
               icon="icons/job_status.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.DisplayCopyStatusAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.DisplayCopyStatusAction"
               menubarPath="status">
         </action>
            
         <action
               label="%command_End_Job"
               tooltip="%command_End_Job_Description"
               icon="icons/end.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.EndJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.EndJobAction"
               menubarPath="run">
         </action>
            
         <action
               label="%command_Start_Job"
               tooltip="%command_Start_Job_Description"
               icon="icons/start.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.StartJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.StartJobAction"
               menubarPath="run">
         </action>
            
         <action
               label="%command_Test_Job"
               tooltip="%command_Test_Job_Description"
               icon="icons/test.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.TestJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.TestJobAction"
               menubarPath="run">
         </action>
                        
         <action
               label="%command_Reset_Job_After_Abortion"
               tooltip="%command_Reset_Job_After_Abortion_Description"
               icon="icons/resetabortion.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.ResetJobAfterAbortionAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.ResetJobAction"
               menubarPath="reset">
         </action>
            
         <action
               label="%command_Reset_Job"
               tooltip="%command_Reset_Job_Description"
               icon="icons/reset.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.ResetJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.ResetJobAction"
               menubarPath="reset">
         </action>
         
      </objectContribution>
      
   </extension>
   
      	<!--
      	  ==========================================
      	    Rapid Fire 'File' Object Contributions
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
            typecategoryfilter="rapid fire"
            typefilter="file"
            subtypefilter="*"
            namefilter="*"
            id="biz.rapidfire.rse.job.actions">
            
         <action
               label="%command_Display_File"
               tooltip="%command_Display_File_Description"
               icon="icons/display.gif"
               class="biz.rapidfire.rse.subsystem.actions.file.DisplayFileAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.file.DisplayFileAction">
         </action>
            
         <action
               label="%command_Delete_File"
               tooltip="%command_Delete_File_Description"
               icon="icons/delete.gif"
               class="biz.rapidfire.rse.subsystem.actions.file.DeleteFileAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.file.DeleteFileAction">
         </action>
            
         <action
               label="%command_Copy_File"
               tooltip="%command_Copy_File_Description"
               icon="icons/copy.gif"
               class="biz.rapidfire.rse.subsystem.actions.file.CopyFileAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.file.CopyFileAction">
         </action>
            
         <action
               label="%command_Change_File"
               tooltip="%command_Change_File_Description"
               icon="icons/change.gif"
               class="biz.rapidfire.rse.subsystem.actions.file.ChangeFileAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.file.ChangeFileAction">
         </action>
            
         <action
               label="%command_New_File"
               tooltip="%command_New_File_Description"
               icon="icons/new_file.gif"
               class="biz.rapidfire.rse.subsystem.actions.file.NewFileAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.file.NewFileAction">
         </action>
         
      </objectContribution>
      
   </extension>

</plugin>
