<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      	
	<!--
	  ==========================================
	    SubSystem Configuration
	  ==========================================
	-->
  <extension
         point="org.eclipse.rse.core.subsystemConfigurations">
      <configuration
            systemTypeIds="org.eclipse.rse.systemtype.iseries"
            name="%Rapid_Fire"
            iconlive="icons/rapidfire_connected.gif"
            icon="icons/rapidfire.gif"
            category="rapidfire"
            class="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
            vendor="Rapid Fire Project Team"
            id="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory">
      </configuration>
   </extension>

</plugin>
