<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      	
		<!--
		  ==========================================
		    Rapid Fire SubSystem Configuration
		  ==========================================
		-->
  <extension
     point="com.ibm.etools.systems.core.subsystemfactory">
     <configuration
        systemtypes="iSeries"
        name="%Rapid_Fire"
        iconlive="icons/rapidfire_connected.gif"
        icon="icons/rapidfire.gif"
        category="rapidfire"
        class="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
        vendor="Rapid Fire Project Team"
        id="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory">
      </configuration>
      
   </extension>
      	
		<!--
		  ==========================================
		    Rapid Fire Wizards
		  ==========================================
		-->
   
   <extension
     point = "org.eclipse.ui.newWizards">
     
      <category
        id = "biz.rapidfire.wizards"
        name="%Rapid_Fire">
      </category>
      
      <wizard
        id = "biz.rapidfire.wizards.new.job"
        name = "%Wizard_job_name"
        class="biz.rapidfire.core.maintenance.job.wizard.NewJobWizard"
        category="biz.rapidfire.wizards"
        icon="icons/rapidfire_job.gif">
         <description>%Wizard_job_description</description>
         <selection class="biz.rapidfire.core.subsystem.IRapidFireSubSystem"/>
         <selection class="com.ibm.etools.systems.filters.SystemFilterPoolReference"/>
         <selection class="com.ibm.etools.systems.filters.SystemFilterReference"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.LibrariesNode"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.LibraryListsNode"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.FilesNode"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.NotificationsNode"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.AreasNode"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.ConversionsNode"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.CommandsNode"/>
         <selection class="biz.rapidfire.core.model.IRapidFireJobResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireLibraryResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireLibraryListResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireFileResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireNotificationResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireAreaResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireConversionResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireCommandResource"/>
      </wizard>
      
      <wizard
        id = "biz.rapidfire.wizards.add.file"
        name = "%Wizard_file_name"
        class="biz.rapidfire.core.maintenance.file.wizard.NewFileWizard"
        category="biz.rapidfire.wizards"
        icon="icons/rapidfire_file.gif">
         <description>%Wizard_file_description</description>
         <selection class="biz.rapidfire.core.subsystem.IRapidFireSubSystem"/>
         <selection class="com.ibm.etools.systems.filters.SystemFilterPoolReference"/>
         <selection class="com.ibm.etools.systems.filters.SystemFilterReference"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.LibrariesNode"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.LibraryListsNode"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.FilesNode"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.NotificationsNode"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.AreasNode"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.ConversionsNode"/>
         <selection class="biz.rapidfire.rse.subsystem.resources.CommandsNode"/>
         <selection class="biz.rapidfire.core.model.IRapidFireJobResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireLibraryResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireLibraryListResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireFileResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireNotificationResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireAreaResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireConversionResource"/>
         <selection class="biz.rapidfire.core.model.IRapidFireCommandResource"/>
      </wizard>

   </extension>

      	<!--
      	  ==========================================
      	    Rapid Fire Object Decorator
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.decorators">
      <decorator
        adaptable="false"
        class="biz.rapidfire.core.subsystem.decorators.shared.ResourceDecorator"
        id="biz.rapidfire.core.subsystem.decorators.shared.ResourceDecorator"
        label="%ResourceDecorator_label"
        lightweight="true"
        state="true">
         <description>%ResourceDecorator_description</description>
         <enablement>
            <objectClass
              name="biz.rapidfire.core.model.IRapidFireResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   
      	<!--
      	  ==========================================
      	    Rapid Fire 'Job' Object Contributions
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
            typecategoryfilter="rapid fire"
            typefilter="job"
            subtypefilter="*"
            namefilter="*"
            id="biz.rapidfire.rse.job.actions">
         
         <action
               label="%command_Open_Activity_Plan"
               tooltip="%command_Open_Activity_Plan_Description"
               icon="icons/activity.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.MaintainActivitiesAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.activity.MaintainActivitiesAction"
               menubarPath="activity">
         </action>
         
         <action
               label="%command_Display_Job"
               tooltip="%command_Display_Job_Description"
               icon="icons/display.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.DisplayJobAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.job.DisplayJobAction"
               menubarPath="maintenance">
         </action>
            
         <action
               label="%command_Delete_Job"
               tooltip="%command_Delete_Job_Description"
               icon="icons/delete.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.DeleteJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.job.DeleteJobAction"
               menubarPath="maintenance">
         </action>
            
         <action
               label="%command_Copy_Job"
               tooltip="%command_Copy_Job_Description"
               icon="icons/copy.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.CopyJobAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.job.CopyJobAction"
               menubarPath="maintenance">
         </action>
            
         <action
               label="%command_Change_Job"
               tooltip="%command_Change_Job_Description"
               icon="icons/change.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.ChangeJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.job.ChangeJobAction"
               menubarPath="maintenance">
         </action>
            
         <action
               label="%command_New_Job"
               tooltip="%command_New_Job_Description"
               icon="icons/new_job.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.NewJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.job.NewJobAction"
               menubarPath="maintenance">
         </action>
            
         <action
               label="%command_Display_Job_Error"
               tooltip="%command_Display_Job_Error_Description"
               icon="icons/display_error.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.DisplayErrorAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.job.DisplayErrorAction"
               menubarPath="status">
         </action>
            
         <action
               label="%command_Display_copy_status"
               tooltip="%command_Display_copy_status_Description"
               icon="icons/job_status.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.DisplayCopyStatusAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.job.DisplayCopyStatusAction"
               menubarPath="status">
         </action>
            
         <action
               label="%command_End_Job"
               tooltip="%command_End_Job_Description"
               icon="icons/end.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.EndJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.job.EndJobAction"
               menubarPath="run">
         </action>
            
         <action
               label="%command_Start_Job"
               tooltip="%command_Start_Job_Description"
               icon="icons/start.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.StartJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.job.StartJobAction"
               menubarPath="run">
         </action>
            
         <action
               label="%command_Test_Job"
               tooltip="%command_Test_Job_Description"
               icon="icons/test.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.TestJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.job.TestJobAction"
               menubarPath="run">
         </action>
                        
         <action
               label="%command_Reset_Job_After_Abortion"
               tooltip="%command_Reset_Job_After_Abortion_Description"
               icon="icons/resetabortion.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.ResetJobAfterAbortionAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.job.ResetJobAfterAbortionAction"
               menubarPath="reset">
         </action>
            
         <action
               label="%command_Reset_Job"
               tooltip="%command_Reset_Job_Description"
               icon="icons/reset.gif"
               class="biz.rapidfire.rse.subsystem.actions.job.ResetJobAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.job.ResetJobAction"
               menubarPath="reset">
         </action>
         
      </objectContribution>
      
   </extension>
   
      	<!--
      	  ==========================================
      	    Rapid Fire 'File' Object Contributions
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
            typecategoryfilter="rapid fire"
            typefilter="file"
            subtypefilter="*"
            namefilter="*"
            id="biz.rapidfire.rse.job.actions">
            
         <action
               label="%command_Generate_Copy_Program"
               tooltip="%command_Generate_Copy_Program_Description"
               icon="icons/generate_copy_program.gif"
               class="biz.rapidfire.rse.subsystem.actions.filecopyprogramgenerator.GenerateFileCopyProgramAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.filecopyprogramgenerator.GenerateFileCopyProgramAction"
               menubarPath="generate">
         </action>
            
         <action
               label="%command_Display_File"
               tooltip="%command_Display_File_Description"
               icon="icons/display.gif"
               class="biz.rapidfire.rse.subsystem.actions.file.DisplayFileAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.file.DisplayFileAction">
         </action>
            
         <action
               label="%command_Delete_File"
               tooltip="%command_Delete_File_Description"
               icon="icons/delete.gif"
               class="biz.rapidfire.rse.subsystem.actions.file.DeleteFileAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.file.DeleteFileAction">
         </action>
            
         <action
               label="%command_Copy_File"
               tooltip="%command_Copy_File_Description"
               icon="icons/copy.gif"
               class="biz.rapidfire.rse.subsystem.actions.file.CopyFileAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.file.CopyFileAction">
         </action>
            
         <action
               label="%command_Change_File"
               tooltip="%command_Change_File_Description"
               icon="icons/change.gif"
               class="biz.rapidfire.rse.subsystem.actions.file.ChangeFileAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.file.ChangeFileAction">
         </action>
            
         <action
               label="%command_New_File"
               tooltip="%command_New_File_Description"
               icon="icons/new_file.gif"
               class="biz.rapidfire.rse.subsystem.actions.file.NewFileAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.file.NewFileAction">
         </action>
         
      </objectContribution>
      
   </extension>
   
      	<!--
      	  ==========================================
      	    Rapid Fire 'Library' Object Contributions
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
            typecategoryfilter="rapid fire"
            typefilter="library"
            subtypefilter="*"
            namefilter="*"
            id="biz.rapidfire.rse.job.actions">
            
         <action
               label="%command_Display_Library"
               tooltip="%command_Display_Library_Description"
               icon="icons/display.gif"
               class="biz.rapidfire.rse.subsystem.actions.library.DisplayLibraryAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.library.DisplayLibraryAction">
         </action>
            
         <action
               label="%command_Delete_Library"
               tooltip="%command_Delete_Library_Description"
               icon="icons/delete.gif"
               class="biz.rapidfire.rse.subsystem.actions.library.DeleteLibraryAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.library.DeleteLibraryAction">
         </action>
            
         <action
               label="%command_Copy_Library"
               tooltip="%command_Copy_Library_Description"
               icon="icons/copy.gif"
               class="biz.rapidfire.rse.subsystem.actions.library.CopyLibraryAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.library.CopyLibraryAction">
         </action>
            
         <action
               label="%command_Change_Library"
               tooltip="%command_Change_Library_Description"
               icon="icons/change.gif"
               class="biz.rapidfire.rse.subsystem.actions.library.ChangeLibraryAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.library.ChangeLibraryAction">
         </action>
            
         <action
               label="%command_New_Library"
               tooltip="%command_New_Library_Description"
               icon="icons/new_library.gif"
               class="biz.rapidfire.rse.subsystem.actions.library.NewLibraryAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.library.NewLibraryAction">
         </action>
         
      </objectContribution>
      
   </extension>
   
      	<!--
      	  ==========================================
      	    Rapid Fire 'Library List' Object Contributions
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
            typecategoryfilter="rapid fire"
            typefilter="library.list"
            subtypefilter="*"
            namefilter="*"
            id="biz.rapidfire.rse.job.actions">
            
         <action
               label="%command_Display_Library_List"
               tooltip="%command_Display_Library_List_Description"
               icon="icons/display.gif"
               class="biz.rapidfire.rse.subsystem.actions.librarylist.DisplayLibraryListAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.librarylist.DisplayLibraryListAction">
         </action>
            
         <action
               label="%command_Delete_Library_List"
               tooltip="%command_Delete_Library_List_Description"
               icon="icons/delete.gif"
               class="biz.rapidfire.rse.subsystem.actions.librarylist.DeleteLibraryListAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.librarylist.DeleteLibraryListAction">
         </action>
            
         <action
               label="%command_Copy_Library_List"
               tooltip="%command_Copy_Library_List_Description"
               icon="icons/copy.gif"
               class="biz.rapidfire.rse.subsystem.actions.librarylist.CopyLibraryListAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.librarylist.CopyLibraryListAction">
         </action>
            
         <action
               label="%command_Change_Library_List"
               tooltip="%command_Change_Library_List_Description"
               icon="icons/change.gif"
               class="biz.rapidfire.rse.subsystem.actions.librarylist.ChangeLibraryListAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.librarylist.ChangeLibraryListAction">
         </action>
            
         <action
               label="%command_New_Library_List"
               tooltip="%command_New_Library_List_Description"
               icon="icons/new_library_list.gif"
               class="biz.rapidfire.rse.subsystem.actions.librarylist.NewLibraryListAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.librarylist.NewLibraryListAction">
         </action>
         
      </objectContribution>
      
   </extension>
   
      	<!--
      	  ==========================================
      	    Rapid Fire 'Notification' Object Contributions
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
            typecategoryfilter="rapid fire"
            typefilter="notification"
            subtypefilter="*"
            namefilter="*"
            id="biz.rapidfire.rse.job.actions">
            
         <action
               label="%command_Display_Notification"
               tooltip="%command_Display_Notification_Description"
               icon="icons/display.gif"
               class="biz.rapidfire.rse.subsystem.actions.notification.DisplayNotificationAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.notification.DisplayNotificationAction">
         </action>
            
         <action
               label="%command_Delete_Notification"
               tooltip="%command_Delete_Notification_Description"
               icon="icons/delete.gif"
               class="biz.rapidfire.rse.subsystem.actions.notification.DeleteNotificationAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.notification.DeleteNotificationAction">
         </action>
            
         <action
               label="%command_Copy_Notification"
               tooltip="%command_Copy_Notification_Description"
               icon="icons/copy.gif"
               class="biz.rapidfire.rse.subsystem.actions.notification.CopyNotificationAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.notification.CopyNotificationAction">
         </action>
            
         <action
               label="%command_Change_Notification"
               tooltip="%command_Change_Notification_Description"
               icon="icons/change.gif"
               class="biz.rapidfire.rse.subsystem.actions.notification.ChangeNotificationAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.notification.ChangeNotificationAction">
         </action>
            
         <action
               label="%command_New_Notification"
               tooltip="%command_New_Notification_Description"
               icon="icons/new_notification.gif"
               class="biz.rapidfire.rse.subsystem.actions.notification.NewNotificationAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.notification.NewNotificationAction">
         </action>
         
      </objectContribution>
      
   </extension>
   
      	<!--
      	  ==========================================
      	    Rapid Fire 'Area' Object Contributions
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
            typecategoryfilter="rapid fire"
            typefilter="area"
            subtypefilter="*"
            namefilter="*"
            id="biz.rapidfire.rse.job.actions">
            
         <action
               label="%command_Display_Area"
               tooltip="%command_Display_Area_Description"
               icon="icons/display.gif"
               class="biz.rapidfire.rse.subsystem.actions.area.DisplayAreaAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.area.DisplayAreaAction">
         </action>
            
         <action
               label="%command_Delete_Area"
               tooltip="%command_Delete_Area_Description"
               icon="icons/delete.gif"
               class="biz.rapidfire.rse.subsystem.actions.area.DeleteAreaAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.area.DeleteAreaAction">
         </action>
            
         <action
               label="%command_Copy_Area"
               tooltip="%command_Copy_Area_Description"
               icon="icons/copy.gif"
               class="biz.rapidfire.rse.subsystem.actions.area.CopyAreaAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.area.CopyAreaAction">
         </action>
            
         <action
               label="%command_Change_Area"
               tooltip="%command_Change_Area_Description"
               icon="icons/change.gif"
               class="biz.rapidfire.rse.subsystem.actions.area.ChangeAreaAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.area.ChangeAreaAction">
         </action>
            
         <action
               label="%command_New_Area"
               tooltip="%command_New_Area_Description"
               icon="icons/new_area.gif"
               class="biz.rapidfire.rse.subsystem.actions.area.NewAreaAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.area.NewAreaAction">
         </action>
         
      </objectContribution>
      
   </extension>
   
      	<!--
      	  ==========================================
      	    Rapid Fire 'Conversion' Object Contributions
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
            typecategoryfilter="rapid fire"
            typefilter="conversion"
            subtypefilter="*"
            namefilter="*"
            id="biz.rapidfire.rse.job.actions">
            
         <action
               label="%command_Display_Conversion"
               tooltip="%command_Display_Conversion_Description"
               icon="icons/display.gif"
               class="biz.rapidfire.rse.subsystem.actions.conversion.DisplayConversionAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.conversion.DisplayConversionAction">
         </action>
            
         <action
               label="%command_Delete_Conversion"
               tooltip="%command_Delete_Conversion_Description"
               icon="icons/delete.gif"
               class="biz.rapidfire.rse.subsystem.actions.conversion.DeleteConversionAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.conversion.DeleteConversionAction">
         </action>
            
         <action
               label="%command_Copy_Conversion"
               tooltip="%command_Copy_Conversion_Description"
               icon="icons/copy.gif"
               class="biz.rapidfire.rse.subsystem.actions.conversion.CopyConversionAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.conversion.CopyConversionAction">
         </action>
            
         <action
               label="%command_Change_Conversion"
               tooltip="%command_Change_Conversion_Description"
               icon="icons/change.gif"
               class="biz.rapidfire.rse.subsystem.actions.conversion.ChangeConversionAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.conversion.ChangeConversionAction">
         </action>
            
         <action
               label="%command_New_Conversion"
               tooltip="%command_New_Conversion_Description"
               icon="icons/new_conversion.gif"
               class="biz.rapidfire.rse.subsystem.actions.conversion.NewConversionAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.conversion.NewConversionAction">
         </action>
         
      </objectContribution>
      
   </extension>
   
      	<!--
      	  ==========================================
      	    Rapid Fire 'Command' Object Contributions
      	  ==========================================
      	-->

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="biz.rapidfire.rse.subsystem.RapidFireSubSystemFactory"
            typecategoryfilter="rapid fire"
            typefilter="command"
            subtypefilter="*"
            namefilter="*"
            id="biz.rapidfire.rse.job.actions">
            
         <action
               label="%command_Display_Command"
               tooltip="%command_Display_Command_Description"
               icon="icons/display.gif"
               class="biz.rapidfire.rse.subsystem.actions.command.DisplayCommandAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.command.DisplayCommandAction">
         </action>
            
         <action
               label="%command_Delete_Command"
               tooltip="%command_Delete_Command_Description"
               icon="icons/delete.gif"
               class="biz.rapidfire.rse.subsystem.actions.command.DeleteCommandAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.command.DeleteCommandAction">
         </action>
            
         <action
               label="%command_Copy_Command"
               tooltip="%command_Copy_Command_Description"
               icon="icons/copy.gif"
               class="biz.rapidfire.rse.subsystem.actions.command.CopyCommandAction"
               enablesFor="1"
               id="biz.rapidfire.rse.subsystem.actions.command.CopyCommandAction">
         </action>
            
         <action
               label="%command_Change_Command"
               tooltip="%command_Change_Command_Description"
               icon="icons/change.gif"
               class="biz.rapidfire.rse.subsystem.actions.command.ChangeCommandAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.command.ChangeCommandAction">
         </action>
            
         <action
               label="%command_New_Command"
               tooltip="%command_New_Command_Description"
               icon="icons/new_command.gif"
               class="biz.rapidfire.rse.subsystem.actions.command.NewCommandAction"
               enablesFor="+"
               id="biz.rapidfire.rse.subsystem.actions.command.NewCommandAction">
         </action>
         
      </objectContribution>
      
   </extension>

</plugin>
